body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

    min-height: 100vh;
    padding: 2rem;
    margin: 0;
    align-items: center;
    background-color: #dcebf3;
}

#content {
    text-align: center;
    width: 80vmin;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#offline {
    color: crimson;
}

#offlineBox {
    display: none;
}

.graphs {
    text-align: left;
    margin-top: 50px;
}




